<header>
    <nav class="flex items-center bg-slate-50  text-[#111827] top-0 py-3 justify-around  bg-silver fixed z-10 w-full">
        <a class="flex title-font font-medium items-center text-[#111827] mb-4 md:mb-0" routerLink="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-[#111827] rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl hidden sm:block">Solução CNAB</span>
          </a>
        <ul class="flex gap-7 text-m">
            <li><a routerLink="" class="group text-[#111827] transition-all duration-300 ease-in-out"><span class="bg-left-bottom bg-gradient-to-r from-[#111827] to-[#111827]  bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">Upload</span></a></li>

            <li><a routerLink="cnab" class="group text-[#111827] transition-all duration-300 ease-in-out"><span class="bg-left-bottom bg-gradient-to-r from-[#111827] to-[#111827] bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">Padrão CNAB</span></a></li>
        </ul>
    </nav>
</header>

<!-- <header class="text-[#111827] body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-[#111827] mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-[#111827] rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Solução CNAB</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 group text-[#111827] transition-all duration-300 ease-in-out" routerLink=""><span class="bg-left-bottom bg-gradient-to-r from-[#111827] to-[#111827]  bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">Upload</span></a>
      <a class="mr-5 group text-[#111827] transition-all duration-300 ease-in-out" routerLink="cnab"><span class="bg-left-bottom bg-gradient-to-r from-[#111827] to-[#111827] bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out">Padrão CNAB</span></a>
    </nav>
  </div>
</header> -->