<header>
    <nav class="flex items-center bg-white text-gray-800 top-0 py-3 justify-around  bg-silver fixed z-10 w-full ">
        <a href="" >
            <img src="./assets/logo3.png" width="200" height="73" alt="logo" role="img">
        </a>
        <ul class="flex gap-7 text-m">
            <li>
                <a href="">Upload</a>
            </li>
            <li>
                <a href="">Transações</a>
            </li>
            <li>
                <a href="">Padrão CNAB</a>
            </li>
        </ul>
    </nav>
</header>