<header>
    <nav class="flex items-center bg-slate-50 text-gray-800 top-0 py-3 justify-around  bg-silver fixed z-10 w-full">
        <a href="" >
            <img src="./assets/logo3.png" width="195" height="64" class="hidden sm:block"  alt="logo" role="img">
            <img src="./assets/logo-sm.png" width="72" height="79" class="block sm:hidden"  alt="logo" role="img">
        </a>
        <ul class="flex gap-7 text-m">
            <li>
                <a href="">Upload</a>
            </li>
            <li>
                <a href="">Transações</a>
            </li>
            <li>
                <a href="">Padrão CNAB</a>
            </li>
        </ul>
    </nav>
</header>