<!-- class="via-gray-100 to-gray-200 bg-gradient-to-br" -->

<section class="flex min-h-screen items-center justify-center">
    <ul class="overflow-x-auto relative shadow-md sm:rounded-lg py-3">
        @for (report of operations; track report.opId) {}
        <li class="overflow-x-auto relative shadow-md sm:rounded-lg mb-8"
            *ngFor="let report of operations">
                <table class="w-full text-sm text-left text-white">
                    <thead class="text-xs text-white uppercase bg-gray-700 text-center">
                        <tr>
                            <th scope="col" class="py-3 px-6">Cartão</th>
                            <th scope="col" class="py-3 px-6">CNPJ</th>
                            <th scope="col" class="py-3 px-6">Data</th>
                            <th scope="col" class="py-3 px-6">Proprietário</th>
                            <th scope="col" class="py-3 px-6">Hora</th>
                            <th scope="col" class="py-3 px-6">Empresa</th>
                            <th scope="col" class="py-3 px-6">Tipo</th>
                            <th scope="col" class="py-3 px-6">Valor</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr class="bg-[#111827] border-gray-700"
                            *ngFor="let operation of report.operations">
                                <td class="py-4 px-6">{{operation.opCard}}</td>
                                <td class="py-4 px-6">{{operation.opCnpj}}</td>
                                <td class="py-4 px-6">{{operation.opDate}}</td>
                                <td class="py-4 px-6">{{operation.opStoreOwner}}</td>
                                <td class="py-4 px-6">{{operation.opHour}}</td>
                                <td class="py-4 px-6">{{operation.opStoreName}}</td>
                                <td class="py-4 px-6">{{operation.opType}}</td>
                                <td class="py-4 px-6">{{operation.opValue}}</td>
                        </tr>
                    </tbody>
                </table>
            <!-- <p class="py-2 px-4 bg-gray-700 text-white text-start">Loja do Joao - valor total das transações: R$425,50</p> -->
        </li>
    </ul>
</section>

