<!-- static content to test -->
<section>
    <ul>
        <li>
            <table>
                <thead>
                    <tr>
                        <th>Cartão</th>
                        <th>CPF</th>
                        <th>Data</th>
                        <th>Dono da Loja</th>
                        <th>Hora</th>
                        <th>Nome da Loja</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123456789</td>
                        <td>17325884109</td>
                        <td>04/03/2017</td>
                        <td>Joao Dono</td>
                        <td>13:35:05</td>
                        <td>Loja do Joao</td>
                        <td>Tipo 1</td>
                        <td>R$150,00</td>
                    </tr>
                    <tr>
                        <td>987654321</td>
                        <td>98765432100</td>
                        <td>15/06/2022</td>
                        <td>Maria Proprietária</td>
                        <td>10:45:30</td>
                        <td>Loja da Maria</td>
                        <td>Tipo 2</td>
                        <td>R$200,00</td>
                    </tr>
                    <tr>
                        <td>5555-1234-5678-9999</td>
                        <td>456.789.012-34</td>
                        <td>20/11/2023</td>
                        <td>Carlos Comerciante</td>
                        <td>18:20:15</td>
                        <td>Loja do Carlos</td>
                        <td>Compra Online</td>
                        <td>R$75,50</td>
                    </tr>
                </tbody>
            </table>
            <p>Valor total das transações: R$425,50</p>
        </li>
        <li>
            <table>
                <thead>
                    <tr>
                        <th>Cartão</th>
                        <th>CPF</th>
                        <th>Data</th>
                        <th>Dono da Loja</th>
                        <th>Hora</th>
                        <th>Nome da Loja</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123456789</td>
                        <td>17325884109</td>
                        <td>04/03/2017</td>
                        <td>Joao Dono</td>
                        <td>13:35:05</td>
                        <td>Loja do Joao</td>
                        <td>Tipo 1</td>
                        <td>R$150,00</td>
                    </tr>
                    <tr>
                        <td>987654321</td>
                        <td>98765432100</td>
                        <td>15/06/2022</td>
                        <td>Maria Proprietária</td>
                        <td>10:45:30</td>
                        <td>Loja da Maria</td>
                        <td>Tipo 2</td>
                        <td>R$200,00</td>
                    </tr>
                    <tr>
                        <td>5555-1234-5678-9999</td>
                        <td>456.789.012-34</td>
                        <td>20/11/2023</td>
                        <td>Carlos Comerciante</td>
                        <td>18:20:15</td>
                        <td>Loja do Carlos</td>
                        <td>Compra Online</td>
                        <td>R$75,50</td>
                    </tr>
                </tbody>
            </table>
            <p>Valor total das transações: R$425,50</p>
        </li>
                <li>
            <table>
                <thead>
                    <tr>
                        <th>Cartão</th>
                        <th>CPF</th>
                        <th>Data</th>
                        <th>Dono da Loja</th>
                        <th>Hora</th>
                        <th>Nome da Loja</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123456789</td>
                        <td>17325884109</td>
                        <td>04/03/2017</td>
                        <td>Joao Dono</td>
                        <td>13:35:05</td>
                        <td>Loja do Joao</td>
                        <td>Tipo 1</td>
                        <td>R$150,00</td>
                    </tr>
                    <tr>
                        <td>987654321</td>
                        <td>98765432100</td>
                        <td>15/06/2022</td>
                        <td>Maria Proprietária</td>
                        <td>10:45:30</td>
                        <td>Loja da Maria</td>
                        <td>Tipo 2</td>
                        <td>R$200,00</td>
                    </tr>
                    <tr>
                        <td>5555-1234-5678-9999</td>
                        <td>456.789.012-34</td>
                        <td>20/11/2023</td>
                        <td>Carlos Comerciante</td>
                        <td>18:20:15</td>
                        <td>Loja do Carlos</td>
                        <td>Compra Online</td>
                        <td>R$75,50</td>
                    </tr>
                    <tr>
                        <td>1111-2222-3333-4444</td>
                        <td>789.012.345-67</td>
                        <td>05/05/2024</td>
                        <td>Ana Empresária</td>
                        <td>14:10:00</td>
                        <td>Loja da Ana</td>
                        <td>Tipo 3</td>
                        <td>R$120,00</td>
                    </tr>
                </tbody>
            </table>
            <p>Valor total das transações: R$545,50</p>
        </li>        <li>
            <table>
                <thead>
                    <tr>
                        <th>Cartão</th>
                        <th>CPF</th>
                        <th>Data</th>
                        <th>Dono da Loja</th>
                        <th>Hora</th>
                        <th>Nome da Loja</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123456789</td>
                        <td>17325884109</td>
                        <td>04/03/2017</td>
                        <td>Joao Dono</td>
                        <td>13:35:05</td>
                        <td>Loja do Joao</td>
                        <td>Tipo 1</td>
                        <td>R$150,00</td>
                    </tr>
                    <tr>
                        <td>987654321</td>
                        <td>98765432100</td>
                        <td>15/06/2022</td>
                        <td>Maria Proprietária</td>
                        <td>10:45:30</td>
                        <td>Loja da Maria</td>
                        <td>Tipo 2</td>
                        <td>R$200,00</td>
                    </tr>
                    <tr>
                        <td>5555-1234-5678-9999</td>
                        <td>456.789.012-34</td>
                        <td>20/11/2023</td>
                        <td>Carlos Comerciante</td>
                        <td>18:20:15</td>
                        <td>Loja do Carlos</td>
                        <td>Compra Online</td>
                        <td>R$75,50</td>
                    </tr>
                    <tr>
                        <td>1111-2222-3333-4444</td>
                        <td>789.012.345-67</td>
                        <td>05/05/2024</td>
                        <td>Ana Empresária</td>
                        <td>14:10:00</td>
                        <td>Loja da Ana</td>
                        <td>Tipo 3</td>
                        <td>R$120,00</td>
                    </tr>
                </tbody>
            </table>
            <p>Valor total das transações: R$545,50</p>
        </li>
    </ul>
</section>
