<!-- static content to test -->
<!-- class="via-gray-100 to-gray-200 bg-gradient-to-br" -->
<section>
    <div class="flex min-h-screen items-center justify-center">
        <ul class="overflow-x-auto relative shadow-md sm:rounded-lg py-3">
            <li class="overflow-x-auto relative shadow-md sm:rounded-lg mb-8">
                <h2 class="py-1 px-2">Loja do Joao</h2>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6">Cartão</th>
                            <th scope="col" class="py-3 px-6">CNPJ</th>
                            <th scope="col" class="py-3 px-6">Data</th>
                            <th scope="col" class="py-3 px-6">Proprietário</th>
                            <th scope="col" class="py-3 px-6">Hora</th>
                            <th scope="col" class="py-3 px-6">Empresa</th>
                            <th scope="col" class="py-3 px-6">Tipo</th>
                            <th scope="col" class="py-3 px-6">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">123456789</td>
                            <td class="py-4 px-6">17325884109</td>
                            <td class="py-4 px-6">04/03/2017</td>
                            <td class="py-4 px-6">Joao Dono</td>
                            <td class="py-4 px-6">13:35:05</td>
                            <td class="py-4 px-6">Loja do Joao</td>
                            <td class="py-4 px-6">Tipo 1</td>
                            <td class="py-4 px-6">R$150,00</td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">987654321</td>
                            <td class="py-4 px-6">98765432100</td>
                            <td class="py-4 px-6">15/06/2022</td>
                            <td class="py-4 px-6">Joao Dono</td>
                            <td class="py-4 px-6">10:45:30</td>
                            <td class="py-4 px-6">Loja do Joao</td>
                            <td class="py-4 px-6">Tipo 2</td>
                            <td class="py-4 px-6">R$200,00</td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">5555-1234-5678-9999</td>
                            <td class="py-4 px-6">456.789.012-34</td>
                            <td class="py-4 px-6">20/11/2023</td>
                            <td class="py-4 px-6">Joao Dono</td>
                            <td class="py-4 px-6">18:20:15</td>
                            <td class="py-4 px-6">Loja do Joao</td>
                            <td class="py-4 px-6">Compra Online</td>
                            <td class="py-4 px-6">R$75,50</td>
                        </tr>
                    </tbody>
                </table>
                <p class="py-2 px-2">Valor total das transações: R$425,50</p>
            </li>
            <li class="overflow-x-auto relative shadow-md sm:rounded-lg mb-8">
                <h2 class="py-1 px-2">Loja do Matheus</h2>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6">Cartão</th>
                            <th scope="col" class="py-3 px-6">CNPJ</th>
                            <th scope="col" class="py-3 px-6">Data</th>
                            <th scope="col" class="py-3 px-6">Proprietário</th>
                            <th scope="col" class="py-3 px-6">Hora</th>
                            <th scope="col" class="py-3 px-6">Empresa</th>
                            <th scope="col" class="py-3 px-6">Tipo</th>
                            <th scope="col" class="py-3 px-6">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">123456789</td>
                            <td class="py-4 px-6">17325884109</td>
                            <td class="py-4 px-6">04/03/2017</td>
                            <td class="py-4 px-6">Matheus Dono</td>
                            <td class="py-4 px-6">13:35:05</td>
                            <td class="py-4 px-6">Loja do Matheus</td>
                            <td class="py-4 px-6">Tipo 1</td>
                            <td class="py-4 px-6">R$150,00</td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">987654321</td>
                            <td class="py-4 px-6">98765432100</td>
                            <td class="py-4 px-6">15/06/2022</td>
                            <td class="py-4 px-6">Matheus Dono</td>
                            <td class="py-4 px-6">10:45:30</td>
                            <td class="py-4 px-6">Loja do Matheus</td>
                            <td class="py-4 px-6">Tipo 2</td>
                            <td class="py-4 px-6">R$200,00</td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">5555-1234-5678-9999</td>
                            <td class="py-4 px-6">456.789.012-34</td>
                            <td class="py-4 px-6">20/11/2023</td>
                            <td class="py-4 px-6">Matheus Dono</td>
                            <td class="py-4 px-6">18:20:15</td>
                            <td class="py-4 px-6">Loja do Matheus</td>
                            <td class="py-4 px-6">Compra Online</td>
                            <td class="py-4 px-6">R$75,50</td>
                        </tr>
                    </tbody>
                </table>
                <p class="py-2 px-2">Valor total das transações: R$425,50</p>
            </li>
            <li class="overflow-x-auto relative shadow-md sm:rounded-lg mb-8">
                <h2 class="py-1 px-2">Loja da Maria</h2>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6">Cartão</th>
                            <th scope="col" class="py-3 px-6">CNPJ</th>
                            <th scope="col" class="py-3 px-6">Data</th>
                            <th scope="col" class="py-3 px-6">Proprietário</th>
                            <th scope="col" class="py-3 px-6">Hora</th>
                            <th scope="col" class="py-3 px-6">Empresa</th>
                            <th scope="col" class="py-3 px-6">Tipo</th>
                            <th scope="col" class="py-3 px-6">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">123456789</td>
                            <td class="py-4 px-6">17325884109</td>
                            <td class="py-4 px-6">04/03/2017</td>
                            <td class="py-4 px-6">Maria Dona</td>
                            <td class="py-4 px-6">13:35:05</td>
                            <td class="py-4 px-6">Loja da Maria</td>
                            <td class="py-4 px-6">Tipo 1</td>
                            <td class="py-4 px-6">R$150,00</td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">987654321</td>
                            <td class="py-4 px-6">98765432100</td>
                            <td class="py-4 px-6">15/06/2022</td>
                            <td class="py-4 px-6">Maria Dona</td>
                            <td class="py-4 px-6">10:45:30</td>
                            <td class="py-4 px-6">Loja da Maria</td>
                            <td class="py-4 px-6">Tipo 2</td>
                            <td class="py-4 px-6">R$200,00</td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">5555-1234-5678-9999</td>
                            <td class="py-4 px-6">456.789.012-34</td>
                            <td class="py-4 px-6">20/11/2023</td>
                            <td class="py-4 px-6">Carlos Comerciante</td>
                            <td class="py-4 px-6">18:20:15</td>
                            <td class="py-4 px-6">Loja da Maria</td>
                            <td class="py-4 px-6">Compra Online</td>
                            <td class="py-4 px-6">R$75,50</td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">1111-2222-3333-4444</td>
                            <td class="py-4 px-6">789.012.345-67</td>
                            <td class="py-4 px-6">05/05/2024</td>
                            <td class="py-4 px-6">Maria Dona</td>
                            <td class="py-4 px-6">14:10:00</td>
                            <td class="py-4 px-6">Loja da Maria</td>
                            <td class="py-4 px-6">Tipo 3</td>
                            <td class="py-4 px-6">R$120,00</td>
                        </tr>
                    </tbody>
                </table>
                <p class="py-2 px-2">Valor total das transações: R$545,50</p>
            </li>        
            <li class="overflow-x-auto relative shadow-md sm:rounded-lg mb-8">
                <h2 class="py-1 px-2">Loja do Roberto</h2>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-auto">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6">Cartão</th>
                            <th scope="col" class="py-3 px-6">CNPJ</th>
                            <th scope="col" class="py-3 px-6">Data</th>
                            <th scope="col" class="py-3 px-6">Roberto Dono</th>
                            <th scope="col" class="py-3 px-6">Hora</th>
                            <th scope="col" class="py-3 px-6">Empresa</th>
                            <th scope="col" class="py-3 px-6">Tipo</th>
                            <th scope="col" class="py-3 px-6">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">123456789</td>
                            <td class="py-4 px-6">17325884109</td>
                            <td class="py-4 px-6">04/03/2017</td>
                            <td class="py-4 px-6">Roberto Dono</td>
                            <td class="py-4 px-6">13:35:05</td>
                            <td class="py-4 px-6">Loja do Roberto</td>
                            <td class="py-4 px-6">Tipo 1</td>
                            <td class="py-4 px-6">R$150,00</td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">987654321</td>
                            <td class="py-4 px-6">98765432100</td>
                            <td class="py-4 px-6">15/06/2022</td>
                            <td class="py-4 px-6">Roberto Dono</td>
                            <td class="py-4 px-6">10:45:30</td>
                            <td class="py-4 px-6">Loja do Roberto</td>
                            <td class="py-4 px-6">Tipo 2</td>
                            <td class="py-4 px-6">R$200,00</td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">5555-1234-5678-9999</td>
                            <td class="py-4 px-6">456.789.012-34</td>
                            <td class="py-4 px-6">20/11/2023</td>
                            <td class="py-4 px-6">Roberto Dono</td>
                            <td class="py-4 px-6">18:20:15</td>
                            <td class="py-4 px-6">Loja do Roberto</td>
                            <td class="py-4 px-6">Compra Online</td>
                            <td class="py-4 px-6">R$75,50</td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="py-4 px-6">1111-2222-3333-4444</td>
                            <td class="py-4 px-6">789.012.345-67</td>
                            <td class="py-4 px-6">05/05/2024</td>
                            <td class="py-4 px-6">Roberto Dono</td>
                            <td class="py-4 px-6">14:10:00</td>
                            <td class="py-4 px-6">Loja do Roberto</td>
                            <td class="py-4 px-6">Tipo 3</td>
                            <td class="py-4 px-6">R$120,00</td>
                        </tr>
                    </tbody>
                </table>
                <p class="py-2 px-2">Valor total das transações: R$545,50</p>
            </li>
        </ul>
    </div>
</section>
