<div>
    <app-header></app-header>
    <section class="min-h-screen text-center h-full pt-20 px-20 pb-18 box-border overflow-y-auto overflow-x-hidden relative">
        <div class="px-6 pb-2 max-w-[600px] mx-auto mb-8">
            <h1 class="font-semibold  text-4xl leading-10 text-[#111827] text-center">Processsamento de arquivos CNAB</h1>
            <h2 class=" mx-auto mt-8 leading-7 text-20 lg:text-22 font-normal text-gray-700">Faça o upload e o processamento de um arquivo de remessa no padrão CNAB de maneira rápida e eficiente. Veja também a simulação deste e de outros relatórios <a routerLink="simulacoes"><strong>aqui</strong></a></h2>
        </div>
        <div class="flex flex-col sm:flex-row items-center justify-center gap-5">
            <app-btn-select></app-btn-select>
        </div>     
    </section>
    <app-about-cnab></app-about-cnab>
    <app-footer></app-footer>
</div>